body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    text-align: center;
    padding: 30px;
}

.status-box {
    background: #1e293b;
    padding: 30px;
    border-radius: 20px;
    width: 400px;
    margin: auto;
}

.indicator {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 20px auto;
}

.on {
    background: green;
    animation: blink 1s infinite;
}

.off {
    background: red;
}

@keyframes blink {
    50% {
        opacity: 0.4;
    }
}
